*.png
!retrom-ui-admin-tags-4k.png
!retrom-ui-admin-tags-mobile.png
!retrom-ui-admin-tag-drawer.png
!retrom-ui-admin-review-bulk-approval-4k.png
!retrom-ui-admin-review-bulk-progress-4k.png
!retrom-ui-admin-review-bulk-cancel-4k.png
