# Design captures are generated locally for review and are never committed.
*.[Pp][Nn][Gg]
*.[Jj][Pp][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Ww][Ee][Bb][Pp]
*.[Gg][Ii][Ff]
*.[Aa][Vv][Ii][Ff]
*.[Bb][Mm][Pp]
*.[Tt][Ii][Ff]
*.[Tt][Ii][Ff][Ff]
*.[Ii][Cc][Oo]
*.[Ss][Vv][Gg]
